## Preprocessing

In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [24]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 10
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [17]:
# You may find it helpful to look at CLASSIFICATION value counts >1

Other    34273
C1580        1
C1900        1
C1820        1
C6100        1
C1248        1
C2600        1
C1370        1
C5200        1
C4200        1
C2190        1
C1236        1
C2570        1
C3700        1
C2561        1
C2500        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [27]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 2
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [28]:
# Convert categorical data to numeric with `pd.get_dummies`
df_encoded = pd.get_dummies(application_df)

In [31]:
# Split our preprocessed data into our features and target arrays
X = df_encoded.drop('IS_SUCCESSFUL', axis=1)
y = df_encoded['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [34]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn_model = tf.keras.models.Sequential()

output_nodes = 1

# First hidden layer
nn_model.add(tf.keras.layers.Dense(hidden_nodes_layer1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(hidden_nodes_layer2, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(output_nodes, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                7040

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 9,501
Trainable params: 9,501
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [36]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5716 - accuracy: 0.7224
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7309
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7320
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7315
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7336
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7355
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7346
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7345
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7354
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7363
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7361
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7368
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7379
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7372
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7377
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7377
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7385
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7386
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7387
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7390
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7400
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7395
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7393
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7405
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7395
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7415
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7390
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7406
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7406
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7401
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7413
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7403
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7413
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7403
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7414
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7421
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7413
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7415
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7417
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7413
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7420
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7418
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7418
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7427
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7424
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7416
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7424
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7428
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7426
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7422
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7430
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7421
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7428
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7422
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7429
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7422
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7423
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7428
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7428
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7426
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7427
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7427
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7427
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7429
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7427
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7429
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7427
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7428
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7431
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7427
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7427
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7432
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7428
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7434
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7429
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7434
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7437
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7441
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7434
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7437
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7440
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5298 - accuracy: 0.7429
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7432
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7440
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7431
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5297 - accuracy: 0.7434
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7433
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7438
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7434
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7434
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7433
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7437
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7439
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7441
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7428
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7441
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7429

In [38]:
# Evaluate the model using the test data
nn_model_loss, nn_model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {nn_model_loss}, Accuracy: {nn_model_accuracy}")

268/268 - 1s - loss: 0.5645 - accuracy: 0.7259 - 759ms/epoch - 3ms/step
Loss: 0.564487636089325, Accuracy: 0.7259474992752075

In [40]:
# Export our model to HDF5 file
nn_model.save('model.h5')